@keyframes loadingIcon {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loadingIcon {
    height: 50px;
    animation: loadingIcon 1s ease-in-out infinite;
}