.container {
    text-decoration: none;
    list-style: none;
    padding: 0;


    display: flex;
    flex-direction: column;
    gap: 10px;
}

.anchor {
    background: red;
    width: 100%;
    height: 100px;
}